/* 
    Created on : Nov 2, 2014, 12:57:26 PM
    Author     : Mikayil
*/

.home{
/*    background-color: #f3f4eb;*/
/*background-color:red;*/
}


.section {
/*    background-color:#f3f4eb;*/
    height: 82%;
    top: 13%;
/*    position: absolute;*/
    padding-left:10%;
    padding-right:40%;
    /*padding-top: 1%;*/
    padding-bottom: 5%;	
    overflow-y: auto;
}

.index_section{
/*    background-color:#f3f4eb;*/
    height: 82%;
    top: 13%;
/*    position: absolute;*/
    padding-left:30%;
    padding-right:37%;
    padding-top: 5%;
/*    padding-bottom: 2%;	*/
    overflow-y: auto;
}

.table_section {
/*    background-color:red;*/
/*    background-color:#f3f4eb;*/
    height: 82%;
    top: 13%;
/*    position: absolute;*/
    padding-left:10%;
/*    padding-right:10%;*/
    padding-top: 2%;
    padding-bottom: 2%;	
    overflow-y: auto;
}

.database_section {
/*    background-color:#f3f4eb;*/
    height: 82%;
    top: 13%;
/*    position: absolute;*/
    padding-left:10%;
/*    padding-right:10%;*/
    padding-top: 2%;
    padding-bottom: 2%;	
    overflow-y: auto;
}

.header {
    
    background-color:black;
    height: 0%;
    color: white;
    padding-left:10%;
    padding-right: 10%;
    padding-top:1%;
    padding-bottom:1%;
    margin-top: -1.5%;
}

.footer {
    background-color:black;
    color:white;
    /*clear:both;*/
    text-align:center;
    padding:0.5%;
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
}

.header a {
    text-align:left;
}

.index_phase{
/*    border: 1px solid red;*/
    float: right;
    padding-right: 0%;
    margin-left: 60%; 
    margin-top: -5%;
/*    margin-right: 10%;*/
}

/*home start about*/
.urlParent{
/*    border: 1px solid red;*/
/*    width: 30%;*/
/*    position: absolute;*/
/*    right: 10%;*/
/*    top: 10%;*/
/*    left:10%;*/
    padding-left: 0%;
    margin-right: 60%;
    
}

.urlParent li{
    display: inline;
    list-style-type: none;
/*    float: right;*/
    padding-left: 3%;
    padding-right:3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.urlParent li:hover{
    background-color: lightgray;    
}

/* unvisited link 
.urlParent a:link {
    color: whitse;
}*/

/* visited link */
/*a:visited {
    color: white;
}*/

/* mouse over link */
.urlParent a:hover {
    color: black;
}

/* selected link */
.urlParent a:active {
    color: red;
}
